

/* TITULOS DE ARCHIVOS HTML */


.title-products{
    padding-top: 50px;
    color: $first-color;
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    text-align: center;
}




.productos-accesorios {
    margin: 40;
}





/* PÁGINA VENDER */

.section-vender {
    margin: 100px;
    padding: 50px;
    box-shadow: 2px 2px 20px 0.5px rgba(190, 190, 190);
    background-color: white;
}

.title-vender {
    color: $first-color;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    text-decoration: none;
    /*text-align: center;*/
}

.subtitle-vender {
    color: $first-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    /*text-align: center;*/
    padding-top: 20px;
}

.text-vender {
    color: $first-color;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    /*text-align: center;*/
}

.text-vender-50 {
    color: $first-color;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-decoration: none;
    /*text-align: center;*/
}


.btn-product {
    background-color: $third-color; 

}

.div-formulario {
    padding-top: 50px;
    padding-bottom: 50px;
}

.boton-formulario {
    color: $third-color;
}





/* FIN ARCHIVOS HTML */ 